extends layout.pug 

block header 
    header.masthead(style="background-image: url('public/img/se2.jpeg')")
        .overlay
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    .site-heading
                        h2 Software Engineering Dep BLOG
                        span.subheading Faculty of Computer Science, Balkh University.
block content 
    .container
        .row 
            .col-lg-8.col-md-10.mx-auto.text-left 
                a.btn.btn-success(href='/post/create') Create Post
        .row
            .col-lg-8.col-md-10.mx-auto
                each post in posts 
                    .post-preview
                        a(href='/post/'+`${post._id}`)
                            h2.post-title
                                | #{post.title}
                            h3.post-subtitle
                                | #{post.body}
                        p.post-meta
                            | Posted by 
                            a(href='#') #{post.author}
                            |      on #{post.date}
                            form(action="/comment" method="POST" class="form-row")
                                .form-group.row
                                    input(type="text" name="comment" class="form-control")
                                    input(type="hidden" name="post_id" value=`${post._id}`)
                                    input(type="submit" value="Add comment" class="btn btn-success float-right") 
                hr
                .post-preview
                    a(href='post.html')
                        h2.post-title
                            | I believe every human has a finite number of heartbeats. I don&apos;t intend to waste any of mine.
                    p.post-meta
                        | Posted by
                        a(href='#') Start Bootstrap
                        |             on September 18, 2019
                hr
                .post-preview
                    a(href='post.html')
                        h2.post-title
                            | Science has not yet mastered prophecy
                        h3.post-subtitle
                            | We predict too much for the next year and yet far too little for the next ten.
                    p.post-meta
                        | Posted by
                        a(href='#') Start Bootstrap
                        |             on August 24, 2019
                hr
                .post-preview
                    a(href='post.html')
                        h2.post-title
                            | Failure is not an option
                        h3.post-subtitle
                            | Many say exploration is part of our destiny, but it&rsquo;s actually our duty to future generations.
                    p.post-meta
                        | Posted by
                        a(href='#') Start Bootstrap
                        |             on July 8, 2019
                hr
                // Pager
                .clearfix
                    a.btn.btn-primary.float-right(href='#') Older Posts &rarr;
