extends layout2.pug 

block header 
    header.masthead(style="background-image: url('../public/img/se2.jpeg')")
        .overlay
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    .site-heading
                        h2 Software Engineering Dep BLOG
                        span.subheading Faculty of Computer Science, Balkh University.
block content 
    .container
        .row 
            .col-lg-8.col-md-10.mx-auto.text-left 
                a.btn.btn-success(href='/post/create') Create Post
        .row
            .col-lg-8.col-md-10.mx-auto
                .post-preview
                    each comment in comments 
                        a(href='/comment/'+`${comment._id}`)
                            h2.post-title
                                | #{comment.comment}
                            h3.post-subtitle
                                | #{comment.posted}
                    input(type="hidden" name="id" class="form-control" id="objId" value=`${post.id}`)
                    
                    form(action="/post/edit/"+`${post.id}`+"?_method=PUT" method="POST")
                        .form-group
                            label(for="title") Title
                            input(type="text" name="title" class="form-control" value=`${post.title}`)
                        .form-group
                            lable(for="author") Author
                            input(type="text" name="author" class="form-control" value=`${post.author}`)
                        .form-group 
                            label(for="blog") Blog
                            input(type="text" name="body" class="form-control" value=`${post.body}`)
                        .from-group
                            input(type="submit" value="Update" class="btn btn-success")
                            form(action="/post/delete/"+`${post.id}`+"?_method=DELETE" method="POST")
                            input(type="submit" value="Delete" class="btn btn-danger" style="float:right")